/* Classroom Background */

/* ===================================== List of member ===================================== */
div.center
{
    margin: 0 auto;
    max-width: 70rem;
    padding: 1.5rem 1.5rem;
}
div.divline
{
    border-bottom: 1.5px solid #129eaf;
    margin-bottom: 0.25rem;
    padding-left: 1rem;
    height: 4.5rem;
}
.colorlist{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.29);
    border-radius: 6px;
    display: inline-block;
    color: #ffffff;
}
.giaovien, .hocsinh
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
}
.tex
{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
/* ===================================== Extended table position ===================================== */
.te
{
    position: relative;
    border-collapse: collapse;
    width: 100%;
}
/* ===================================== table position ===================================== */
.tp
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0.5rem;
    max-width: 30rem;
}
/* ===================================== Font style =====================================*/
.tf
{
    transition: 0.2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.manage_name{
    margin-top: 0.5rem;
}
/* ===================================== Image width, height ===================================== */
.imgcc
{
    border-radius: 50%;
    padding: 5px;
    width: 50px;
}
/* ===================================== Table content ===================================== */
.tablexpen{
    position: relative;
    width: 100%;
}

.table_btn_right{
    position: absolute;
    right: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr
{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.trex
{
    border-top: .0625rem solid #e0e0e0;
    height: 3.75rem;
}
td
{
    display: table-cell;
    vertical-align: inherit;
}
.tdex
{
    border: .0625rem solid #e0e0e0;
    padding: 0.5rem;
}

/* ===================================== Class interface ===================================== */
.classuis
{
    margin: 0 auto;
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: -webkit-calc(100% - 2*1.5rem);
    width: calc(100% - 2*1.5rem);
    max-width: 70rem;
    box-shadow: 0 0 12px 2px rgb(153, 153, 153);
    border-radius: 6px;
}

/* ===================================== UI properties ===================================== */
.classui
{
    background-color: #ffffff;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}
/*  ===================================== Box properties ===================================== */

/* ===================================== Image properties ===================================== */
.classuib
{
    object-fit: cover;
    object-position: center;
    height: 15rem;
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

.shaded_background{
    padding: 5px;
    display: inline-block;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.71);
    box-shadow: 2px 2px 10px black;
}

/*  ===================================== Subject in class stream properties ===================================== */
.btn_classstream{
    padding: 0 2px;
    position: absolute;
    top: 200px;
    right: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.class-content
{
    position: absolute;
    top: 0px;
    left: 25px;
    width: 95%;
    text-align: left;
}
.class-top-title
{
    position: absolute;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
.class-title
{
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.75rem;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}
.class-code
{
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    padding: 20px;
    margin-top: 34px;
    display: inline-flex;
    align-items: center;
    float: right;
    border-radius: 10px;
    letter-spacing: .01428571em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.25rem;
    text-shadow: 2px 2px 5px black;
}
.custom_image_text{
    padding-right: 20px;
    letter-spacing: .01428571em;
    font-size: 32px;
}
.class-code-text
{

    color: #ffffff;
    margin-right: 0.5rem;
}
.class-information
{
    transition: 0.5s ease-in-out;
    position: relative;
    bottom: 0px;
    right: 0;
    left: 0;
    background-color: #fff;
}


.class-information-text
{
    letter-spacing: .01428571em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4043;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
em
{
    font-weight: 500;
    font-style: normal;
    font-weight: bold;
}
svg
{
    width: 24px;
    height: 24px;
}
svg:not(:root) {
    overflow: hidden;
}
.svgclass
{
    fill: currentColor;
    flex-shrink: 0;
    line-height: 0;
    color: #fff;
    cursor: default;
}
div
{
    display: block;
}
.classuib-1aba
{
    letter-spacing: .01428571em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4043;
    cursor: pointer;
}
.classpan
{
    font-size: .0625rem;
    height: .0625rem;
    line-height: 1;
    opacity: .001;
    overflow: hidden;
    position: absolute;
    width: .0625rem;
}
.imgcd
{
    height: auto;
    width: auto;
    cursor: pointer;
}
/*  ===================================== COMMENTS =====================================  */
.comment-area
{
    height: 5rem;
    background-color: #efefef;
    overflow: hidden;
    border-radius: 6px;
    padding-right: 0.5rem;
    white-space: nowrap;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.comment_show{
    display: none;
}

.hide_comment_area{
    display: block;
}

.comment-label{
    cursor: pointer;
    position: relative;
    top: 0.3rem;
    font-size: 20px;
    color: #717171;
}

.comment-content textarea{
    border-radius: 6px 6px 0px 0px;
    padding: 1rem;
    overflow: auto;
    transition: 0.2s ease-in-out;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    width: calc(100% - 80px);
    top: 2rem;
    height: 8rem;
    position: relative;
    left: 3rem;
    resize: none;
    margin-bottom: 2rem;
}

#cancel_btn_comment{
    border: 2px solid white;
    transition: 0.5s ease-in-out;
    background-color: white;
    color: black;
    margin-top: 2rem;
    font-size: 24px;
    border-radius: 6px;
    width: 6rem;
    position: relative;
    left: 2rem;
    margin-bottom: 2rem;
}

#cancel_btn_comment:hover{
    transition: 0.5s ease-in-out;
    background-color: #cbcbcb;
}

#post_btn_create{
    top: 6.5rem;
    transition: 0.5s ease-in-out;
    background-color: #c7c7c7;
    margin-top: 2rem;
    font-size: 24px;
    border-radius: 6px;
    width: 6rem;
    position: relative;
    left: 46rem;
    margin-bottom: 2rem;
}

#post_btn_create:hover{
    transition: 0.5s ease-in-out;
    background-color: #078200;
}

#file_btn_comment{
    border-radius: 6px;
    font-size: 24px;
    position: relative;
    margin-top: 2rem;
    left: 4rem;
    margin-bottom: 2rem;
}

#display_file_comment{
    display: none;
    border: 2px solid black;
    padding: 1rem;
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    bottom: 3rem;
    position: relative;
}

.comment-content:focus-within textarea{
    border-bottom: 2px solid #008202;
    transition: 0.2s ease-in-out;
    outline: none;
    background-color: #d9d9d9;
}

.comment-label:hover{
    color: rgb(15, 137, 36);
}

.classuib5-2
{
    padding: 0.5rem 0;
    cursor: pointer;
}

.avatar-icon
{
    background-color: #5befff;
    color: #fff;
    fill: #fff;
    align-items: center;
    display: flex;
    border-radius: 50%;
    cursor: default;
    flex-shrink: 0;
    height: 2.5rem;
    line-height: 0;
    margin: 0 1rem 0 1.5rem;
    width: 2.5rem;
    white-space: nowrap;
    justify-content: center;
    text-align: center;
}
.avatar-icon:active
{
    position:relative;
}
div
{
    display: block;
}

/*  ===================================== POST COMMENTS =====================================  */

.avt_in_post{
    width: 3rem;
    height: 3rem;
}

.name_in_post{
    font-size: 22px;
}

.input_comments{
    font-weight: initial;
    padding: 0 2rem 1rem 1rem;
    transition: 0.2s ease-in-out;
    border: solid #aaaaaa;
    position: relative;
    bottom: 2.6rem;
    left: 4rem;
    width: 82%;
    border-radius: 16px;
}

.input_comments:focus-within{
    padding: 0 2rem 1rem 1rem;
    transition: 0.2s ease-in-out;
    outline: unset;
    border: solid #067900;
}

.post{
    padding: 0 0 0 0;
}

.post_user_name{
    position: relative;
    left: 5rem;
    top: 2rem;
}

.post_content{
    position: relative;
    padding: 1rem 2rem 2rem 3rem;
}

.post_comments{
    padding: 0rem 4rem 2rem 4rem;
}

.post_expand_comments{

    font-weight: bold;
    position: relative;
    left: 4rem;
    top: 1rem;
}

#expand_comments{
    outline: none;
    background-color: white;
    border: 2px solid white;
}

#expand_comments:hover{
    color: green;
}

.post_comments_users{
    position: relative;
    top: -1rem;
    left: 4.5rem;
    margin-right: 2rem;
    font-weight: initial;
    max-width: 100%;
}

.post_comments_btn{
    border: solid white;
    transition: 0.2s ease-in-out;
    background-color: white;
    top: -5.3rem;
    left: 84%;
    position: relative;
    border-radius: 50rem;
}

.post_comments_btn:hover{
    outline: none;
    transition: 0.2s ease-in-out;
    background-color: #e8e8e8;
}

.form_post_comments{
    position: relative;
    margin-bottom: -3rem;
}
/*  ===================================== END POST COMMENTS =====================================  */


/*  ===================================== Text-area in COMMENTS =====================================  */


div.enter_button
{
    display:inline-block;
    position:relative;
}
.enter_button
{
    height: 2.5rem;
    cursor: pointer;
    width: 200%;
}
.classpan
{
    font-size: .0625rem;
    height: .0625rem;
    line-height: 1;
    opacity: .001;
    overflow: hidden;
    position: absolute;
    width: .0625rem;
}
.imgcd
{
    cursor: pointer;
    background-color: #5befff;
    align-items: center;
    display: flex;
    border-radius: 50%;
    cursor: default;
    flex-shrink: 0;
    height: 2.5rem;
    line-height: 0;
    width: 2.5rem;
    white-space: nowrap;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
;
}

.collapsible {
    transition: 0.5s ease-in-out;
    cursor: pointer;
    height: fit-content;
    width: 100%;
    text-align: left;
    position: relative;
}

.collapsible .class-information  {
    transition: all 0.5s;
    background-color: rgb(255, 255, 255);
    height: 87px;
    padding: 24px;
}



input[type=submit]
{
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 0.5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#comment_textarea
{
    width: 90%;
    border: 2px solid #b3b3b3;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
    display:inline-block;
    font-size: 20px;
    position: absolute;
    outline: none;
    resize: none;
    padding-left: 0.5rem;
}

#comment_textarea:focus
{
    transition: 0.5s ease-in-out;
    background-color: #dedede;
}

.myButton {
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:linear-gradient( bottom, #bddbfa 5%, #80b5ea 100%);
    background-color:#bddbfa;
    border-radius:6px;
    border:1px solid #84bbf3;
    display: inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    padding: 0.5rem;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
    position: relative;
    float: right;
}
.myButton:hover {
    background:linear-gradient(bottom, #80b5ea 5%, #bddbfa 100%);
    text-decoration:none;
    background-color:#80b5ea;
}
.nav_bar_2
{
    margin-top: 2rem;
    background-image: url("images/background6.jpg");
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 6px 8px rgba(255, 255, 255, 0.36);
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    max-width: 100%;
    white-space: nowrap;
}
.nav_bar_2_item
{
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 100%;
}
.nav_bar_2_text_a
{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 6px;
    display: flex;
    position: relative;
    color: #00e1ff;
    height: 4rem;
    padding: 1rem 2rem 1rem 2rem;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: solid 1.5px;
    letter-spacing: .01785714em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-transform: none;
    white-space: nowrap;
    text-align: center;
}


.nav_bar_2_item:hover{
    text-decoration: none;
}

.nav_bar_2_text_a::after
{
    border-top-width: 0.25rem;
    border-top-style: solid;
    -webkit-border-radius: 0.25rem 0.25rem 0 0;
    bottom: -1px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
}


.nav_bar_2_text_a:hover{
    text-decoration: none;
}


.nav_bar_2_text_b
{
    display: flex;
    position: relative;
    color: #ffffff;
    height: 4rem;
    padding: 1rem 2rem 1rem 2rem;
    text-decoration: none;
    box-sizing: border-box;
    border-bottom: solid 1.5px;
    letter-spacing: .01785714em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-transform: none;
    white-space: nowrap;
    text-align: center;
}

.nav_bar_2_text_b::after
{
    border-top-width: 0.25rem;
    border-top-style: solid;
    -webkit-border-radius: 0.25rem 0.25rem 0 0;
    border-radius: 0.25rem 0.25rem 0 0;
    bottom: -1.5px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.nav_bar_2_text_b:hover{
    text-decoration: none;
    color: deepskyblue;
}

/* ============================ BUTTON ================================= */
.action_btn_modal{
    width: 20% !important;
    display: inline-block !important;
}

.delete-class-btn{
    color: #ff0000;
}

.delete-class-btn:hover{
    transition: 0.2s ease-in-out;
    background-color: #616161;
    color: #ff0000;
    text-shadow: 2px 2px 5px #800000;
}

.edit-class-btn{
    transition: 0.2s ease-in-out;
    color: green;
}

.edit-class-btn:hover{
    transition: 0.2s ease-in-out;
    background-color: #616161;
    color: #0fba00;
    text-shadow: 2px 2px 5px green;
}

/* ============================= DROPDOWN MENU ========================= */
.dropdown-style{
    border-radius: 6px;
}

/* ============================= DROPDOWN POST MENU ========================= */
.drop_down_menu{
    float: right;
    position: relative;
}

.dd_menu_btn{
    transition: 0.2s ease-in-out;
    position: relative;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.dd_menu_btn:hover{
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    background-color: #56cd19;
}

.dd_menu_btn:focus{
    outline: none;
}

.dd_menu_content{
    position: relative;
    box-shadow: 2px 2px 5px black;
    transition: 0.2s ease-in-out;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5rem;
}

.dd_menu_content a{
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.2rem 2rem 0.2rem 2rem ;
    color: black;
    display: block;
}

.dd_menu_content a:hover{
    transition: 0.2s ease-in-out;
    background-color: #bdbdbd;
}

#edit_post_btn:hover{
    color: #008600;
}

#delete_post_btn:hover{
    color: #ff0000;
}

.post_edit_submit_btn{
    text-align: right;
}

.update_post_btn{
    width: 3rem;
    height: 2.5rem;
}
.class-update-btn-no{
    width: 4.5rem;
    height: 2rem;
    background-color: white;
    border: none;
}

.class-update-btn-no:hover{
    background-color:grey;
    border-color: black;
}

.comment_date{
    font-size: 1rem;
    padding-left: 1rem;
    color: grey;
}