/* Logo top style */
/* Body background color */
body{
    background-image: url(images/wood-background-realistic_107791-102.png);
}

/* ===================================== fa style ===================================== */
.style-fa{
    color: white;
    padding-top: 20px;
}

.style-fa:hover{
    color: #cffff9;
}

/* ===================================== NAVBAR top images ===================================== */
.navbar-brand img{
    width: 40px;
    height: 40px;
}

/* ===================================== Image preview in class modal ===================================== */
#image-class-preview{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

#images-class-background{
    width: 100%;
    height: 100%;
}



/* ===================================== Font top ===================================== */
.nav-link{
    font-weight: bold;
    font-size: 18px;
    font-family: Calibri;
}

.navbar{
    background: -webkit-linear-gradient(top, rgb(62, 62, 62), rgba(0, 0, 0, 0.44),rgb(62, 62, 62));
}

.white_text{
    background-color: #d2d2d2;
    margin-right: 12px;
    box-shadow: 3px 4px 8px black;
}


/* ===================================== Login alert ===================================== */
.alertLogin {
    font-weight: bold;
    margin-top: 30px;
    font-size: 18px;
    color: red;
}



/* ===================================== Avatar profile ===================================== */
.avatar-profile {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.avatar-profile:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 20px #00901e;
}

.circle{
    margin-right: 50px;
}

.text-align-profile {
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-family: Calibri;
    color: black;
    font-weight: 400;
    font-size: 22px;
    font-weight: bold;
}

.text-align-profile:hover {
    transition: 0.2s ease-in-out;
    text-decoration: none;
    color: #368b00;
}

/* ===================================== CONTAINER BODY ===================================== */

main{
    background-image: url("images/wood-background-realistic_107791-102.png");
}



.container {
    max-width: unset;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: -30px;
}


/* ===================================== AVATAR ===================================== */
:root {
    --avatar-size: 60px;
    /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
    background-color: #ccc;
    border-radius: 50%;
    height: var(--avatar-size);
    text-align: center;
    width: var(--avatar-size);
}

.initials {
    font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
    line-height: 1;
    position: relative;
    top: calc(var(--avatar-size) / 4); /* 25% of parent */
}

/* ===================================== PROGRESS BAR FOR STRENGTH PASSWORD ===================================== */

progress {
    width: 100%;
    height: 3px;
    background: #ccc;
}

progress[value="25"]::-webkit-progress-value {
    background: red;
}

progress[value="50"]::-webkit-progress-value {
    background: yellow;
}

progress[value="75"]::-webkit-progress-value {
    background: #ffb700;
}

progress[value="100"]::-webkit-progress-value {
    background: #008000;
}

/* ===================================== BUTTON CLASS ===================================== */

    /* Input */
.wrap-input100-setsize {
    margin-bottom: unset;
}

.fa-margin {
    margin-bottom: 20px;
}

.back-btn {
    font-family: Montserrat-Bold;
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: rgb(255, 135, 0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.back-btn:hover {
    background: rgb(208, 116, 0);
}

.manage-btn{
    float: right;
}

.color-red{
    border: 1px solid #ac0000;
    color: red;
}

.color-red:hover{
    border: 1px solid #ac0000;
    background-color: #e80000;
    color: white;
}


.color-orange{
    background-image: linear-gradient(to top, rgb(255, 178, 128),#ffffff,rgb(255, 178, 128));
    font-size: 18px;
    border: 1px solid #ac5f00;
    color: #ff9900;
    box-shadow: 4px 4px 10px black;
    margin-right: 20px;
}

.color-orange:hover{
    background-image: linear-gradient(to right, #e87800, #ac5f00);
    border: 1px solid #ac5f00;
    background-color: #e87800;
    box-shadow: 4px 4px 10px #ff9168;
    color: white;
}
